@import "../../core/constants";
@import "../../core/mixins";

raw {
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #eee;
  border-radius: 4px;
}
